<div class="row">


<div class="col-3">

</div>

<div class="col-9">
    
<div class="container" >
    <h1 class="text-center mt-3">Manage Users</h1>
    <input type="button" routerLink='/adduser' value="ADD USER" class="btn btn-success">

<table class="table mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="row">Sn.</th>
        <th scope="col-4">Name</th>
        <th scope="col-4">Email</th>
        <th scope="col-2">Update</th>
        <th scope="col-2">Delete</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i= index ">
        <th>{{i+1}}</th>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td><button type="button" routerLink="/update/{{item.id}}" class="btn btn-warning">UPDATE</button></td>
        <td>
          <button type="button" (click)="deleteConfirmation(content)" class="btn btn-danger">DELETE</button>
           <!-- modal for delete -->
        <ng-template #content let-modal>
  
          <div class="modal-body">
            <!-- <button  type="button" class="close " aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
               <span aria-hidden="true">&times;</span>
             </button> -->
            <h3 class="text-center">You want to Delete it? </h3>
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel click')">NO</button>
            <button type="button" class="btn btn-danger"  (click)="modal.close('Ok click',deleteUser(item.id))">YES</button>
          </div>
          
        </ng-template>
        </td>
       
     



      </tr>
     
    </tbody>
  </table>
</div>
</div>
</div>


