
<div class="container-fluid">
        <main class="tm-main">
            <div class="row tm-row">
                <div class="col-lg-12 tm-post-col">
                    <div class="tm-post-full">                    
                        <div class="mb-4">
                            <h2 class="pt-2 tm-color-primary tm-post-title">{{articles.title}}</h2>
                            <p class="tm-mb-40">Posted by {{articles.author}} on {{articles.createdAt}}</p>
                            <div class="row tm-row">
                                <div class="col-12">
                                    <hr class="tm-hr-primary tm-mb-55">
                                </div>
                            </div>
                            <p>{{articles.content}}</p>
                    </div>
        <div>
                            <!-- Person Details -->
                            <div class="col-lg-12 tm-post-col">
                                <div class=" row detail-section">
                                    <div class="col-lg-2">
                                        <img class="user" src="../../assets/images/user.jpg" alt="">
                                    </div>
                                    <p class="col-lg-10 details">
                                        <span class="heading">About Alexander Fleming</span><br>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae recusandae deserunt veniam beatae 
                                        mollitia quas assumenda maxime autem? Non quidem veritatis repudiandae voluptatibus,
                                        quisquam totam unde obcaecati ipsam quis optio.</p>
                                </div>
                            </div>
                            <span class="d-block text-right tm-color-primary">Creative . Design . Business</span>
                        </div>
                        
                        <!-- Comments -->
                        <div class="comment">
                            <form [formGroup]="commentForm" action="" class="mb-5 tm-comment-form" (ngSubmit)="open(content)">
                                <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>
                                <div class="mb-4">
                                    <label for="">Name:</label>
                                    <input class="form-control"  formControlName="name" name="name" type="text">
                                    <span class="text-danger"  *ngIf= "validation.name.touched && validation.name.errors?.required ">Name is required</span>
                                    <span class="text-danger" *ngIf="validation.name.errors?.touched && validation.name.errors?.pattern"> Enter alphabets only</span>
                                </div>
                                <div class="mb-4">
                                    <label for="">Email:</label>
                                    <input class="form-control"  formControlName="email" name="email" type="text">
                                    <span class="text-danger"  *ngIf= "validation.email.touched && validation.email.errors?.required ">Email is required</span>
                                <span class="text-danger" *ngIf="validation.email.errors?.email || commentForm.controls.email.errors?.pattern">Enter the valid email address</span><br> 
                                </div>
                                <div class="mb-4">
                                    <label for="">Message:</label>
                                    <textarea class="form-control"  formControlName="message" name="message" rows="6"></textarea>
                                    <span class="text-danger" *ngIf= "validation.message.touched && validation.message.errors?.required">Message is required</span>
                                    <span class="text-danger" *ngIf="validation.message.touched && validation.message.errors?.pattern"> Enter alphabets only</span>
                                    <span class="text-danger" *ngIf="validation.message.touched && commentForm.controls.message.errors?.maxlength"> Only 200 characters are allowed </span> <br />
                                </div>

                                <!-- Modal  -->
                                <ng-template #content let-c="close" let-d="dismiss">
                                    <div class="modal-header">
                                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                        <p>Your comment has been added successfully</p>
                                        </div>
                                    </ng-template>
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small" (click)="addComment(commentForm.value)" [class]="commentForm.invalid ? 'disable' : 'tm-btn-small' "[disabled]="commentForm.invalid" type="submit">Submit</button>                        
                                </div>                                
                            </form> 
                            <h2 class="tm-color-primary tm-post-title">Comments</h2>
                            <hr class="tm-hr-primary tm-mb-45">
                            <div *ngFor="let data of comments" class="tm-comment tm-mb-45">
                                <figure class="tm-comment-figure">
                                    <figcaption class="tm-color-primary text-center">{{data.name}}</figcaption>
                                </figure>
                                <div>
                                    <p>
                                        {{data.message}}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <!-- <a href="#" class="tm-color-primary">REPLY</a> -->
                                        <span class="tm-color-primary">{{data.createdAt}}</span>
                                    </div>                                                 
                                </div>                                
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <footer class="row tm-row">
                <div class="col-md-9 col-12 tm-color-gray tm-copyright">
                    Copyright 2021 Orion Esolutions Pvt. Ltd.
                </div>
            </footer>
        </main>
    </div>