    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                          <div ngbDropdown class="d-inline-block">
                            <button class="btn btn-lg btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Blogs</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                              <button ngbDropdownItem (click)="getCategory('sports')">Sports</button>
                              <button ngbDropdownItem (click)="getCategory('fashion')">Fashion</button>
                              <button ngbDropdownItem (click)="getCategory('technology')">Technology</button>
                              <button ngbDropdownItem (click)="getCategory('food')">Food</button>
                              <button ngbDropdownItem (click)="getCategory('fitness')">Fitness</button>
                              <button ngbDropdownItem (click)="getCategory('travel')">Travel</button>
                              <button ngbDropdownItem (click)="getCategory('music')">Music</button>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <!-- search button -->
                            <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value)">
                                <div class="input-group">
                                    <div class="form-outline">
                                      <input (keypress)="stopUser()" autocomplete="off" formControlName="search" type="search" id="form1" class="form-control" />
                                    </div>
                                    <button [disabled]="searchForm.invalid" type="submit" class="ml-1 btn btn-outline-dark">
                                      Search
                                    </button>
                                  </div>
                            </form>   
                        </div>
                      </div>
                </div>
            </div>            
            <div class="row tm-row">
                <h1 *ngIf="userSearch==true" class="pt-5 pl-2">Blogs Related to {{searchedValue}}</h1>
                <tr *ngFor="let item of articles | slice: (page-1) * pageSize : page * pageSize">
                    <article class="col-12">
                        <hr class="tm-hr-primary">
                        <a routerLink="/article-detail/:articleId" class="effect-lily tm-post-link tm-pt-20">
                            <h2 class=" tm-color-primary tm-post-title">{{item.title}}</h2>
                        </a>                    
                        <p class="tm-pt-30">
                            {{item.content}}
                        </p>
                        <div class="d-flex justify-content-between tm-pt-45">
                            <span class="tm-color-primary">{{item.category}}</span>
                            <span class="tm-color-primary">{{item.createdAt|date}}</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>{{item.comments}} Comments</span>
                            <span>by {{item.author}}</span>
                        </div>
                    </article>
                </tr>
                <h1 class="ml-2" *ngIf="articles.length<=0">No Data Found Try Diffrent Category</h1>
            </div>
            <div>
                <!-- pagination -->
                <ngb-pagination
                    [(page)]="page"
                    [pageSize]="pageSize"
                    [collectionSize]="articles.length">
                    <ng-template ngbPaginationPrevious>Prev</ng-template>
                    <ng-template ngbPaginationNext>Next</ng-template>
                </ngb-pagination>
            </div>
        </main>
    </div>
