
<div class="row">
  <div class="col-3">
</div>



<div class="col-9">
<form [formGroup]="updateform" (ngSubmit)="onSubmit(content)">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-md-2">
            <img src="../../assets/images/Secure login-rafiki (1).svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8" >
                <div class="mb-4">
                  <h3><strong class="text-center">UPDATE DETAILS</strong></h3>
             
              </div>
                <div>
                  <label>Name:</label>
                <div class="form-group first">
                 
                  <input  type="text" class="form-control"  formControlName="name" >
                <span class="text-danger" *ngIf="updateFormValue.name.touched && updateFormValue.name.errors?.required">Name is required</span>
                <span class="text-danger" *ngIf="updateFormValue.name.touched && updateFormValue.name.errors?.pattern">  Please Enter Valid Name</span>
                     
              </div>
  
              </div>
                <div>
                <label>Email:</label>
                <div class="form-group first">
                
                  <input type="text" class="form-control" id="username" formControlName="email" >
                  <span class="text-danger" *ngIf="updateFormValue.email.touched && updateFormValue.email.errors?.required">  Please Enter Your Email</span>
                  <span class="text-danger" *ngIf="updateFormValue.email.touched && updateFormValue.email.errors?.email">  Please Enter Valid Email</span>
  
  
                </div>
  
              </div>
                <label >Password:</label>
                <div class="form-group last mb-4">
                
                  <input type="password" formControlName="password" class="form-control" id="password" >
                  <span class="text-danger" *ngIf="updateFormValue.password.invalid && updateFormValue.password.touched">  Please Enter Password
                      
                  </span>
                  
                </div>
                
               
  
                <input type="submit" [disabled]="updateform.invalid" value="UPDATE" class="btn text-white btn-block btn-primary">
                <div class="d-flex mb-5 mt-3 align-items-center">
                
                  <h6> Back to Manage Users <a routerLink="/users">Manage Users</a> </h6>
                  </div>
               
              
              
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  </form>
</div>
</div>


<ng-template #content let-modal>
  <div class="modal">
    <!-- <h4 class="modal-title">Message</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
   
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <p>Successfully Upadted &hellip;</p>
  
  </div>
  
</ng-template>
