<form [formGroup]="updateform" (ngSubmit)="onSubmit()">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-md-2">
            <img src="../../assets/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">
                  <strong class="text-center">UPDATE USERS</strong>
             
              </div>
                <div>
                  <label>Name:</label>
                <div class="form-group first">
                 
                  <input  type="text" class="form-control"  formControlName="name" >
                <span class="text-danger" *ngIf="updateFormValue.name.touched && signupFormValue.name.errors?.required">Name is required</span>
                <span class="text-danger" *ngIf="updateFormValue.name.touched && signupFormValue.name.errors?.pattern">  Plese Enter Valid Name</span>
                     
              </div>
  
              </div>
                <div>
                <label>Email:</label>
                <div class="form-group first">
                
                  <input type="text" class="form-control" id="username" formControlName="email" >
                  <span class="text-danger" *ngIf="updateFormValue.email.touched && signupFormValue.email.errors?.required">  Plese Enter Your Email</span>
                  <span class="text-danger" *ngIf="updateFormValue.email.touched && signupFormValue.email.errors?.email">  Plese Enter Your Email</span>
  
  
                </div>
  
              </div>
                <label >Password:</label>
                <div class="form-group last mb-4">
                
                  <input type="password" formControlName="password" class="form-control" id="password">
                  <span class="text-danger" *ngIf="updateFormValue.password.invalid && signupFormValue.password.touched">  Plese Enter Password
                      
                  </span>
                  
                </div>
                
               
  
                <input type="submit" [disabled]="updateform.invalid" value="SIGN UP" class="btn text-white btn-block btn-primary">
                <div class="d-flex mb-5 mt-3 align-items-center">
                
                  <h6>Already Registerd ? <a routerLink="/login">Login here</a> </h6>
                  </div>
               
              
              
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
    </div>
  </form>