<div class="container-fluid">
    <main class="tm-main">
        <div class="row">
            <div class="col">
                <h1>Comment-List</h1>
            </div>
            <div class="col">
                <button routerLink="/add-update-comments" class="btn btn-outline-secondary addNewArticle-btn">Add new article</button>
            </div>
        </div>
        <table class="table text-center">
            <thead class="thead-dark">
              <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Comments</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td class="text-center">
                    <button routerLink="/add-update-comments"  class="btn btn-outline-secondary">Update</button>
                    <button routerLink="/add-update-comments"  class="btn btn-outline-secondary">Delete</button>
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                <td class="text-center">
                    <button routerLink="/add-update-comments"  class="btn btn-outline-secondary">Update</button>
                    <button routerLink="/add-update-comments"  class="btn btn-outline-secondary">Delete</button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                <td class="text-center">
                    <button routerLink="/add-update-comments"  class="btn btn-outline-secondary">Update</button>
                    <button routerLink="/add-update-comments"  class="btn btn-outline-secondary">Delete</button>
                </td>
              </tr>
            </tbody>
        </table>
    </main>
</div>